<launch>
	<arg name="stm_port" default="/dev/ttyUSB0" />
	<arg name="stm_baud" default="115200" />
	<arg name="topic_pub" default="dwm1000/beacons" />
	

	<node pkg="dwm1000" type="serial_stm32.py" name="serial_stm_node">
		<param name="port" value="$(arg stm_port)"/>
        	<param name="baud" value="$(arg stm_baud)" />
		<param name="topic_pub" value="$(arg topic_pub)" />
	
	</node>
</launch>
